.App {
  text-align: center;
}

.main-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
}

.flights-board-container {
  flex-basis: 75%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
}

.flights-timetable-container {
  flex-basis: 25%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-left: none;
  max-height: 800px;
  overflow-y: auto;
}

.filter-slider-container {
  flex-basis: 100%;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid black;
  border-top: none;
}

.list-of-flights {
  text-align: left;
}

.diagram-component {
  width: 100%;
  height: 100%;
  border: solid 1px black;
  background-color: white;
}
